{% extends "layout.html" %}

{% block body %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url({{ url_for('static',filename='assets/img/page-header.jpg') }})">
            <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                <h2>News</h2>
                <p>Fetched News articles.</p>

                <button id="tableau-analysis" type="button" class="btn btn-primary btn-lg">View Analysis</button>

                </div>
            </div>
            </div>
        </div>
        <nav>
            <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li>News</li>
            </ol>
            </div>
        </nav>
        </div>


        <section id="service" class="services pt-0">
            <div class="container" data-aos="fade-up">
      
              <div class="section-header">
                <span>News</span>
                <h2>News</h2>
      
              </div>

              <div class="row gy-4">
                
                {% for row in rows %}
                    
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="card">
                                <div class="card-img">
                                    {% if row['Headline Sentiment']== "Very Positive" %}
                                        <span class="badge bg-success" style="z-index: 1; position: absolute; left:0;">{{ row['Headline Sentiment'] }}</span>
                                    {% elif row['Headline Sentiment']== "Positive" %}
                                        <span class="badge bg-primary" style="z-index: 1; position: absolute; left:0;">{{ row['Headline Sentiment'] }}</span>
                                    {% elif row['Headline Sentiment']== "Neutral" %}
                                        <span class="badge bg-secondary" style="z-index: 1; position: absolute; left:0;">{{ row['Headline Sentiment'] }}</span>
                                    {% elif row['Headline Sentiment']== "Negative" %}
                                        <span class="badge bg-warning text-dark" style="z-index: 1; position: absolute; left:0;">{{ row['Headline Sentiment'] }}</span>
                                    {% else %}
                                        <span class="badge bg-danger" style="z-index: 1; position: absolute; left:0;">{{ row['Headline Sentiment'] }}</span>
                                    {% endif %}
                                        <img src="{{ row['urlToImage'] }}" alt="" class="img-fluid"> 
                                </div>
                                <h3><a href= {{ row['url'] }} target="_blank" class="stretched-link">{{ row['Title'] }}  </a></h3>
                                <p> {{ row['Description'] }} </p>
                            </div>
                        </div>
        
                {% endfor %}

              </div>
      
              
            </div>
        </section>

    </main>
    <script> 
        document.getElementById("tableau-analysis").onclick = function () {
            window.location.href = "db";
        };
    </script>



{% endblock %}